@import "./constants";

.hong-kong {
  position: absolute;
  height: 100%;
  top: 0;
  width: 15%;
  background-size: auto 100%;
  background-position: center;
}

.contact-button {
  width: 87%;
  height: 87%;


  &:hover {
    width: 100%;
    height: 100%;
  }

  &:active {
    width: 74%;
    height: 74%;
  }
}

.contact-button-position {
  position: absolute;
  height: 3.6vw;
  width: 3.6vw;
}

.contact-palette {
  table-layout: fixed;
  display: table;
  box-sizing: border-box;
  position: absolute;
  width: 20vw;
  top: 36vh;
  height: 20.4vh;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.contact-button-preview {
  transition: 80ms ease-in;
  position: absolute;
  font: 1.5vw "Courier New", Futura, sans-serif;
  top: 50%;
  left: 120%;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}

.contact-text {
  display: block;

  &.one {
    transition: 600ms ease-out;
  }
  &.two {
    transition: 700ms ease-in-out;
    margin-left: 2vw;
  }
  &.three {
    transition: 650ms ease-in;
    margin-left: 4vw;
  }
  &.four {
    transition: 650ms ease-out;
    margin-left: 3vw;
  }
}

.contact-text-block {
  position: absolute;

  top: 38vh;
  left: 27vw;
}
