.home-text {
  display: block;

  &.one {
    transition: 700ms ease-out;
  }
  &.two {
    transition: 700ms ease-in-out;
  }
}

.home-text-block {
  position: absolute;

  top: 43vh;
  left: 22vw;
}
