.projects-container {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;

  position: absolute;
  .projects {
    width: 50vw;
    left: 18vw;

    top: 0;

    position: absolute;
    transition: 650ms cubic-bezier(.5,.5,.41,.88);

    .entry {
      width: 100%;
      margin-bottom: 2em;
      margin-top: 2em;

      .name {
        font: 3vw "Courier New", Futura, sans-serif;
      }

      .entry-details {
        display: flex;

        .left {
          width: 40%;
          float: left;
          .technologies {
            font-style: italic;
          }
          span {
            display: block;
            margin-bottom: 0.5em;
          }
        }

        .description {
          font-size: 1.5vw;
          width: 60%;
          float: right;
          font-family: 'Montserrat', sans-serif;
        }
      }

      .project-picture {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }
  }
}

.visit-button {
  position: unset;
  margin-left: 1.2em;
  margin-top: 2em;

  width: 3.5vh;
  height: 3.5vh;

  &:hover {
    width: 3.9vh;
    height: 3.9vh;
  }

  &:active {
    width: 3.3vh;
    height: 3.3vh;
  }
}

